

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(233, 109, 109);
    height: 250px;
    width: 250px;
    border-radius: 5%;
  }

  #btn{
    position: absolute;
    top: 80%;
    left : 35%;
    background-color: rgba(143, 144, 199, 0.836);
    color: rgb(8, 8, 8);
   
  }
  
